# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# Logs
/logs
*.log
.logs/

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# Codeship CI/CD related
codeship.aes
env
env.encrypted
dockercfg.encrypted

#to store env
/config/env-conf.json
/data/
/diagnostic.data/
